<div class="container">
  <app-header></app-header>
</div>
<div class="container my-3">
  <app-todo-list
    [taskList]="taskList"
    (updateTask)="updateTaskList($event)"
  ></app-todo-list>
  <app-todo-input-add-items
    (registerTask)="addTask($event)"
  ></app-todo-input-add-items>
</div>
<div class="container d-flex justify-content-end">
  <app-todo-button-delete-all
    (deleteTasks)="deletarTarefas()"
  ></app-todo-button-delete-all>
</div>
<div class="container mb-3">
  <img src="../../../../../assets/tasks.png" alt="" />
</div>
